.prodes div {
    background: rgba(225, 225, 225, 0.253);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .prodes div {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}